
/* COLOR PALETTE INFO */
/* * 		Name: Red
* 		Hex: #FF0000
* BOSTON UNIVERSITY RED			Name: Boston University Red
* 		Hex: #CC0000
* CERULEAN BLUE			Name: Cerulean Blue
* 		Hex: #3B4CCA	
* GOLDEN YELLOW			Name: Golden Yellow
* 		Hex: #FFDE00
* GOLD FOIL			Name: Gold Foil
* 		Hex: #B3A125
 */

  
  
  
  
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: gameType;
    font-size: 1.2em;
    background-color: #3B4CCA;
  }
  
  nav {
    margin-top: 3vh;
    background-color: #3B4CCA;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header {
    display: flex;
    background-color: #3B4CCA;
    color: white;
    line-height: 30pt;
  }

  header p {
    margin-top: 2vh;
  }

  header h1 {
    font-size: 60px;
    line-height: 60pt;
  }

  .header-button {
    margin-top: 2vh;
  }

  h1 {
    font-family: pokemonHollow;
    
    font-weight:bolder;
    color: #FFDE00;
  }

  h2 {
    font-family: pokemonHollow;
    font-size: 48px;
    font-weight:bolder;
  }

  .header-left{
    display: flex;
    flex: 1;
    margin-top: 10vh;
    margin-left: 10vw;
    flex-direction: column;
  }

  /* FONTS */
  @font-face {
    font-family: pokemonHollow;
    src: url(./fonts/pokemonhollow.ttf);
  }


  @font-face {
    font-family: pokemonSolid;
    src: url(./fonts/pokemonsolid.ttf);
  }

  @font-face {
    font-family: gameType;
    src: url(./fonts/PKMN\ RBYGSC.ttf);
  }

  .header-right {
    display: flex;
    justify-content: space-around;
    flex: 2;
    margin-top: 10vh;
  }

  .hero-img {
    width: 40vw;
    margin-bottom: 10vh;
  }
  
  button {
    width: 200px;
    background-color: #3882F6;
    color: #FFDE00;
  }

  .logo {
    display: inline-block;
    width: 75px;
    margin-top: 2vh;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #FFDE00;
  }
  
  .nav-item:hover {
    background-color: #FFDE00
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }

  .starters {
    background-color: #FFDE00;
  }

  .starters h2 {
    margin-top: 10vh;
    padding-top: 5vh;
    text-align: center;
  }